#ContactsMenu {
	height: 100%;
}

#ContactsTitle{
	margin: auto;
	position: absolute;
	left:15;
	font-size: 20;
}
#ContactsName{
	background-color: #38568A ;
	list-style-type: none;
	position: absolute;
	font-size: 17;
	top:23;
	left:0px;
	right:0px;
	text-align: left;
	cursor:pointer;
	height: 80px;
	overflow-y: auto;
}

#ContactsName li:nth-child(even) {background:  var(--even-list-color)}
#ContactsName li:nth-child(odd) {background: var(--odd-list-color)}

#AddContact {
	border: none;
	color: white;
	padding: 4px 4px;
	text-align: center;
	text-decoration: none;
	font-size: 12px;
	margin-top: 4px;
	position: absolute;
	bottom: 3;
	width: 80px;
	left: 16px;
	background-color: var(--neutral-btn-color); /* Blue */
}

#AddContactMenu{
	height: 100%;
}
#AddContactDiv{
	height: 100%;
}

/*contactmenu*/

.ContactName {
	position: absolute;
	left:10;
	font-size: 20;
}

#ContactName{
	top: -10;
	position: absolute;
	width: 110px;
	height: 30px;
	font-size: 20;
}

#ContactMenu{
	position: absolute;
	font-size: 12;
	top:25;
	left:0;
	padding: 5;
	float: left;
}

#ContactButtons {
	position:relative;
	left:5px;
	top:5px;
	padding: 0 5px 4px 1px;
	cursor:pointer;
}

#ContactButtons > div{
	border: none;
	color: white;
	padding: 8px 8px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 12px;
	margin-top: 4px;
}

#ShareLocalization{
	background-color: rgb(56, 167, 211); /* Blue */
	border-style: solid;
	border-width: 3;
}

#DeleleContact{
	background-color: rgb(247, 9, 9); /* Red */
	border-style: solid;
	border-width: 3;
}

#ContactOption{
	max-height: 80px;

}

#ConfirmationMsg{
	padding: 1px;
	text-align: center;
	border: solid 3px white;
	top:0px;
	max-height: 80px;
	overflow-y: hidden;
}

#ContactNumber{
	position: relative;
	left:2px;
}