#device {
	font-family: Oswald, sans-serif;
	font-style: normal;
	font-variant: normal;
	font-size: 20;
	border-radius: 10%;
	background-color: black;
    width: 150px;
	height: 160px;
	position:absolute;
	top: 50%;
	left:50%;
	transform: translate(-50%,-50%);
	z-index: 9;
}


#screen {
	overflow: hidden;
	background-color: #304087;
	background-size: 100% 100%;
	text-align:center;
	z-index: 10;
    width: 120px;
	height: 130px;
	position:absolute;
	top: 50%;
	left:50%;
	transform: translate(-50%,-50%);
}


.deviceBtnInfo{
	cursor: default;
	z-index: 10;
	width: 12px;
	height: 12px;
}

.deviceBtn{
	border: 3px solid black;
	border-radius: 15%;
	background-color: black;
	width: 20px;
	height: 20px;
}

.clickable{
	cursor: pointer;
}

#lock_button {
	position:absolute;
	top:-12px;
	right: 17px;
}

#lock_button_info{
	position: absolute;
	bottom: 0px;
	left:4px;
}

#lock_click{
	position: absolute;
	top:-3px;
	left: -3px;
	width: 24px;
	height: 10px;
}

#back_button {
	position: absolute;
	left:-10px;
	top:19px;
}
 
#back_button_info{
	position: absolute;
	top:4px;
	right: 0px;
}

#back_click{
	position: absolute;
	top:-3px;
	left: -3px;
	width: 10px;
	height: 24px;
}

#scroll_wheel{
	position: absolute;
	right: -14px;
	top: 50px;}

#scroll_wheel_img{
	height: 50px;
	width: 15px;
}

.scroll_sel{
	cursor:pointer;
	border:1px solid #4d4d4d ;
	width: 13px;
	height: 8px;
	border-radius: 100%;
}

#scroll_up{
	position: absolute;
	top:0px;
}

#scroll_ok{
	position: absolute;
	right: -1px;
	top:18px;
	width: 8px;
	height: 13px;
}

#scroll_down{
	position: absolute;
	bottom: 0px
}

#scroll_up_info{
	width: 10px;
	height: 10px;
	position: absolute;
	top:0px;
	left:-13px;
}

#scroll_ok_info{
	width: 10px;
	height: 10px;
	position: absolute;
	left:-18px;
}

#scroll_down_info{
	width: 10px;
	height: 10px;
	position: absolute;
	left: -13px
