
.foodIcon{
    width:20px;
    height:20px;
    position:relative;
    float:right;
    right: 5px;
}


.orderPop{
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
	background-color: green;
}

#FoodsList{
	height: 85px;
	overflow: auto;
	font-size: 14px;
}

#FoodStandsHead{
	font-size: 16px;
	padding: 3px;
}

#checkOrderButton{
	position: relative;
	top: 5px;
	right:0px;
	width: 20px;
	height: 20px;
}

#plusItemButton{
	position: relative;
	top: 4px;
	right: 5px;
	width: 20px;
	height: 20px;
}

#minusItemButton{
	position: relative;
	top: 4px;
	right: 8px;
	width: 20px;
	height: 20px;
}

#checkItemButton{
	position: relative;
	top: 6px;
	right: 0px;
	width: 20px;
	height: 20px;
}

#deleteIcon{
	position: relative;
	top: 8px;
	width: 20px;
	height: 20px;
}

#ItemInfo{
	font-size: 16px;
}

#ItemsList{
	font-size: 12px;
	padding-bottom: 8px;
}

.foodListItem{
	height: 45px;
}

#ConcludeOrderScreen{
	font-size: 14px;
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
}

#ConcludeOrderMensage{
	font-size: 10px;
}

#clock{
	width: 14px;
	height: 14px;
}

.bagIcon{
    position:absolute;
    top:2px;
    left:20px;
	width: 18px;
	height: 18px;
    
}

.foodListItemTitle {
	position: relative;
	z-index: 10;
	padding: 3px 0 3px 0;
	background-color: var(--even-list-color) !important;
}

.foodListItemPrice {
	position: relative;
	top:-7px;
	background-color: var(--odd-list-color) !important;
	padding-bottom: 5px;
}

#minusItemButton{
	position: absolute;
	top:87px;
	right:15px;
	width: 18px;
	height: 18px;

}

#plusItemButton{
	position: absolute;
	top:87px;
	left: 15px;
	width: 18px;
	height: 18px;

}

#checkItemButton{
	position: absolute;
	top:107px;
	left: 48px;
	width: 18px;
	height: 18px;

}

.itemPrice{
	font-size: 14px;
}

.itemTime{
	font-size: 14px;
}

#n_items{
	position: relative;
	top:10px;
}

#cancelOrderButton{
	width: 18px;
	height: 18px;
	
}