

.orderPop{
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
	background-color: green;
}

#FoodsList{
	height: 105px;
	overflow-y: scroll;
	font-size: 14px;
}

#FoodStandsHead{
	font-size: 16px;
	padding: 3px;
}

<<<<<<< HEAD
.orderBackButton{
	position: relative;
	top:0;
	right:0;
	padding: 1px;
	cursor:pointer;
	width: 23%;
	border-radius: 100%;
}

.checkOrderButton{
	position: relative;
	top:0;
	right:0;
	padding: 1px;
	cursor:pointer;
	width: 23%;
	border-radius: 100%;
}
=======










>>>>>>> ee4b7f15c87221462b12f731f31b2f8cee252743

