

.orderPop{
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
	background-color: green;
}

#FoodsList{
	height: 105px;
	overflow-y: scroll;
	font-size: 14px;
}

#FoodStandsHead{
	font-size: 16px;
	padding: 3px;
}

#orderBackButton{
	position: relative;
	top:0;
	right:0;
	padding: 1px;
	cursor:pointer;
	border-radius: 100%;
	width: 10px;
	height: 10px;

}

#checkOrderButton{
	position: relative;
	top:0;
	right:0;
	padding: 1px;
	cursor:pointer;
	border-radius: 100%;
	width: 10px;
	height: 10px;
}

#checkItemButton{
	position: absolute;
	bottom: 2px;
	right:20px;
	width: 20px;
	height: 20px;
}
#itemsBackButton{
	position: absolute;
	bottom: 2px;
	left:20px;
	width: 20px;
	height: 20px;
}
#ItemInfo{
	font-size: 16px;
}

#ConcludeOrderScreen{
	font-size: 14px;
	height: 100%;
	overflow-y: scroll;
}