:root{
	--even-list-color: rgb(56, 105, 138);
	--odd-list-color: rgb(56, 85, 138);
	--even-list-color2: rgb(110, 162, 196);
	--odd-list-color2: rgb(74, 138, 181);
  --neutral-btn-color: rgb(56, 167, 211);
}


.Lists div:nth-child(odd) {background: var(--odd-list-color)}
.Lists div:nth-child(even) {background:  var(--even-list-color)}

.Lists2 div:nth-child(odd) {background: var(--odd-list-color2)}
.Lists2 div:nth-child(even) {background:  var(--even-list-color2)}


body {
	font-family:Arial, Helvetica, sans-serif;
	background-color: url("background.jpg");
	background-repeat: no-repeat;
	font-size: 12;
	color:white;
}

.selectable{
	cursor: pointer;
	border-style: solid ;
	border-width: 3px;
	border-color: transparent;
}


#device {
	font-family: Oswald, sans-serif;
	font-style: normal;
	font-variant: normal;
	font-size: 20;
	border-radius: 10%;
	background-color: black;
    width: 150px;
	height: 160px;
	position:absolute;
	top: 50%;
	left:50%;
	transform: translate(-50%,-50%);
	z-index: 9;
}


#screen {
	overflow: hidden;
	background-color: #304087;
	background-size: 100% 100%;
	text-align:center;
	z-index: 10;
    width: 120px;
	height: 130px;
	position:absolute;
	top: 50%;
	left:50%;
	transform: translate(-50%,-50%);
}
/*lockscreen*/
#NotificationsList{
	position: absolute;
	font-size: 13;
	right: -1px;
	left: -1px;
	padding:15 0 15 0;
}

#lockscreen{
	opacity:0.8;
	padding-top: 5;
}

/*mainmenu*/
#menu {
	opacity:0.8;
	background-color: #e6ffff;
}

.menuIcon{
	position: relative;
	top:0;
	right:0;
	padding: 1px;
	cursor:pointer;
	width: 23%;
	border-radius: 100%;
}

#MenuOptionsVals {
	position: absolute;
	left: 0;
	margin-top: 18px;
	width: 100%;
	height: 100%;
	top: 10;
}

#iconName {
	position: absolute;
	width: 120px;
	bottom: 10px;
	text-align: center;
}

#emergencyInfo{
	text-align: center
}

#Lock{
	position: absolute;
	right: 0px;
	margin: auto;
	z-index: -1;
	opacity: 0.4;

	width: 100%;
}

.screenInfo{
	font-size: 15px;
}

#buttons_confirm {
	position: absolute;
	z-index: 10;
	top:110px;
	left:25px;
}

#Yes_button{
	position: absolute;
	top: 0px;
	left:0px;
}

#Yes_button > div {
	width: 30px;
	border: none;
	color: white;
	padding: 8px 8px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 12px;
	margin-top: 4px;
	background-color: rgb(1, 153, 14); /* Green */
}

#No_button{
	position: absolute;
	top: 0px;
	left:55px;
}

#NO_button > div {
	width: 30px;
	border: none;
	color: white;
	padding: 8px 8px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 12px;
	margin-top: 4px;
	background-color: rgb(247, 9, 9); /* Red */
}


